body{
margin: 0px;
padding: 0px;
background:#e1e3e3;
}
/**导航栏盒子开始**/
.nav{
	width:100%;
	height:74px;
	background:#333333;
	margin-top:-14px;
	margin-left:-8px;
	margin-right:-8px;
}
.menu{
	float:right;
}
.nav a{
	text-decoration:none;
	float:left;
	color:#fafcfd;
}
.nav li{
	float:left;
	width:100px;
	line-height:57px;	
}
.nav li a:hover{
	color:#999;
}
/**导航栏盒结束**/


.logo{
	width:149px;
	height:57px;
	float:left;
	margin-top:10px;
}
.page{
	padding:20px;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	background:#fafcfd;
	overflow:auto;
}
.page li{
	list-style:none;
}
.textcolor{
	color:#999;
	font-size:14px;
}

 table{
	 width:100%;
background:#333333;
}
table tr{
background:#fff;
}
 table th{
	 color:#fff;
	background:#333333;
}

tr.tab1{
		background:#e1e3e3;
}
form{
	text-align:center;
}
.le1{
	width:50%;
	text-align:right;
	float:left;
}
.re1{
	float:right;
	width:49%;
	text-align:left;
}
input.sub1{
	background:#3355d0;
	width:100%;
		height:40px;
	-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
}
.footer
{
	width:100%;
	height:74px;
	background:#333333;
	text-align:center;
	color:#fff;
	line-height:57px;
}